USE [master]
GO
/****** Object:  Database [Quanlykhachsan_K235480106051]    Script Date: 5/4/2026 1:00:36 AM ******/
CREATE DATABASE [Quanlykhachsan_K235480106051]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Quanlykhachsan_K235480106051', FILENAME = N'D:\Ngoc\Quanlykhachsan_K235480106051.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Quanlykhachsan_K235480106051_log', FILENAME = N'D:\Ngoc\Quanlykhachsan_K235480106051_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Quanlykhachsan_K235480106051].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Quanlykhachsan_K235480106051]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BaoCaoHoatDongPhong]    Script Date: 5/4/2026 1:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_BaoCaoHoatDongPhong] (
    @Thang INT,
    @Nam INT
)
RETURNS @BangThongKe TABLE (
    MaPhong VARCHAR(10),
    LoaiPhong NVARCHAR(50),
    SoLanDuocDat INT,
    DanhGiaHieuQua NVARCHAR(50)
)
AS
BEGIN
    -- Bước 1: Đẩy dữ liệu cơ bản (mã phòng, loại phòng, đếm số lần đặt) vào biến bảng
    INSERT INTO @BangThongKe (MaPhong, LoaiPhong, SoLanDuocDat, DanhGiaHieuQua)
    SELECT p.MaPhong, p.LoaiPhong, COUNT(d.MaDatPhong), N'Chưa xét'
    FROM [Phong] p
    LEFT JOIN [DatPhong] d ON p.MaPhong = d.MaPhong 
         AND MONTH(d.ThoiGianNhan) = @Thang 
         AND YEAR(d.ThoiGianNhan) = @Nam
    GROUP BY p.MaPhong, p.LoaiPhong;

    -- Bước 2: Sử dụng các lệnh UPDATE riêng biệt (Logic phức tạp nhiều bước) để đánh giá
    UPDATE @BangThongKe 
    SET DanhGiaHieuQua = N'Phòng Hot' 
    WHERE SoLanDuocDat >= 3;

    UPDATE @BangThongKe 
    SET DanhGiaHieuQua = N'Bình thường' 
    WHERE SoLanDuocDat > 0 AND SoLanDuocDat < 3;

    UPDATE @BangThongKe 
    SET DanhGiaHieuQua = N'Ế - Cần khuyến mãi' 
    WHERE SoLanDuocDat = 0;

    -- Bước 3: Trả về kết quả
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTienPhong]    Script Date: 5/4/2026 1:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTongTienPhong] (
    @MaDatPhong INT
)
RETURNS MONEY
AS
BEGIN
    DECLARE @TienPhong MONEY;
    DECLARE @SoNgay INT;
    DECLARE @GiaNgay MONEY;
    DECLARE @NgayNhan DATETIME;
    DECLARE @NgayTra DATETIME;

    -- Lấy thông tin từ bảng DatPhong và Phong
    SELECT @NgayNhan = d.ThoiGianNhan, 
           @NgayTra = ISNULL(d.ThoiGianTra, GETDATE()), -- Nếu chưa trả, lấy ngày hiện tại
           @GiaNgay = p.GiaPhongTheoNgay
    FROM [DatPhong] d
    JOIN [Phong] p ON d.MaPhong = p.MaPhong
    WHERE d.MaDatPhong = @MaDatPhong;

    -- Tính số ngày (nếu cùng ngày thì tính 1 ngày)
    SET @SoNgay = DATEDIFF(DAY, @NgayNhan, @NgayTra);
    IF @SoNgay = 0 SET @SoNgay = 1;

    -- Tính tổng tiền
    SET @TienPhong = @SoNgay * @GiaNgay;

    RETURN @TienPhong;
END;
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/4/2026 1:00:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](10) NOT NULL,
	[LoaiPhong] [nvarchar](50) NOT NULL,
	[DienTich] [float] NULL,
	[GiaPhongTheoNgay] [money] NOT NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[ThoiGianNhan] [datetime] NOT NULL,
	[ThoiGianTra] [datetime] NULL,
	[TienDatCoc] [money] NULL,
	[TienHoanLai] [money] NULL,
 CONSTRAINT [PK_DatPhong] PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_LichSuGiaoDichCuaKhach]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_LichSuGiaoDichCuaKhach] (
    @MaKhachHang INT
)
RETURNS TABLE
AS
RETURN (
    SELECT 
        d.MaDatPhong,
        p.LoaiPhong,
        d.ThoiGianNhan,
        d.ThoiGianTra,
        d.TienDatCoc
    FROM [DatPhong] d
    JOIN [Phong] p ON d.MaPhong = p.MaPhong
    WHERE d.MaKhachHang = @MaKhachHang
);
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_1]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_1](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_10]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_10](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_11]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_11](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_12]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_12](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_2]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_2](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_3]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_3](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_4]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_4](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_5]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_5](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_6]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_6](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_7]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_7](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_8]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_8](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2023_9]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2023_9](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatPhong_Archive_2026_5]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong_Archive_2026_5](
	[MaDatPhong] [int] NULL,
	[MaKhachHang] [int] NULL,
	[MaPhong] [varchar](10) NULL,
	[ThoiGianNhan] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKhachHang] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[DiemDanhGia] [int] NULL,
	[TrangThai] [nvarchar](50) NULL,
	[DiemTichLuy] [int] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatPhong] ADD  DEFAULT ((0)) FOR [TienDatCoc]
GO
ALTER TABLE [dbo].[DatPhong] ADD  DEFAULT ((0)) FOR [TienHoanLai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((5)) FOR [DiemDanhGia]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (N'Bình thường') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_KhachHang]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_Phong]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_TienDatCoc] CHECK  (([TienDatCoc]>=(0)))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_TienDatCoc]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [CK_ThoiGianTra] CHECK  (([ThoiGianTra]>=[ThoiGianNhan]))
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [CK_ThoiGianTra]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [CK_DiemDanhGia] CHECK  (([DiemDanhGia]>=(1) AND [DiemDanhGia]<=(5)))
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [CK_DiemDanhGia]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CK_GiaPhong] CHECK  (([GiaPhongTheoNgay]>(0)))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CK_GiaPhong]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoKhachHangSongAo]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoKhachHangSongAo]
AS
BEGIN
    -- Trả về trực tiếp một câu lệnh SELECT (Result Set)
    SELECT 
        kh.HoTenKhachHang AS [Họ Tên Khách],
        kh.SoDienThoai AS [Số Điện Thoại],
        p.LoaiPhong AS [Hạng Phòng Đặt],
        dp.ThoiGianNhan AS [Lúc Nhận],
        dp.ThoiGianTra AS [Lúc Trả],
        -- Tính số giờ đã ở
        DATEDIFF(HOUR, dp.ThoiGianNhan, dp.ThoiGianTra) AS [Tổng Số Giờ Ở]
    FROM [DatPhong] dp
    JOIN [KhachHang] kh ON dp.MaKhachHang = kh.MaKhachHang
    JOIN [Phong] p ON dp.MaPhong = p.MaPhong
    WHERE 
        -- Chỉ lọc phòng hạng sang
        (p.LoaiPhong LIKE N'%Suite%' OR p.LoaiPhong LIKE N'%Deluxe%')
        -- Chỉ tính những giao dịch đã trả phòng
        AND dp.ThoiGianTra IS NOT NULL
        -- Thời gian lưu trú từ lúc nhận đến lúc trả <= 24 tiếng (1 ngày)
        AND DATEDIFF(HOUR, dp.ThoiGianNhan, dp.ThoiGianTra) <= 24
    ORDER BY [Tổng Số Giờ Ở] ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DatPhongThanToc]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DatPhongThanToc]
    @MaKhachHang INT,
    @LoaiPhong NVARCHAR(50)
AS
BEGIN
    DECLARE @MaPhongTrong VARCHAR(10);

    -- Tìm 1 phòng thuộc loại khách yêu cầu, và hiện tại không có ai đang ở (ThoiGianTra không bị NULL)
    -- Hoặc phòng chưa từng được ai đặt
    SELECT TOP 1 @MaPhongTrong = p.MaPhong
    FROM [Phong] p
    WHERE p.LoaiPhong = @LoaiPhong
      AND p.MaPhong NOT IN (
          SELECT MaPhong FROM [DatPhong] WHERE ThoiGianTra IS NULL
      );

    -- Kiểm tra logic: Nếu tìm thấy phòng trống thì INSERT, không thì báo lỗi
    IF @MaPhongTrong IS NOT NULL
    BEGIN
        INSERT INTO [DatPhong] (MaKhachHang, MaPhong, ThoiGianNhan, ThoiGianTra, TienDatCoc)
        VALUES (@MaKhachHang, @MaPhongTrong, GETDATE(), NULL, 0);

        PRINT N'Thành công! Đã tự động xếp khách vào phòng: ' + @MaPhongTrong;
    END
    ELSE
    BEGIN
        PRINT N'Rất tiếc! Hiện tại đã hết phòng trống cho hạng phòng: ' + @LoaiPhong;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_QuayThuongGiamGia]    Script Date: 5/4/2026 1:00:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_QuayThuongGiamGia]
    @MaKhachHang INT,
    @PhanTramGiamGia INT OUTPUT -- Biến Output để trả kết quả ra ngoài
AS
BEGIN
    DECLARE @Diem INT;
    
    -- Lấy điểm đánh giá của khách
    SELECT @Diem = DiemDanhGia FROM [KhachHang] WHERE MaKhachHang = @MaKhachHang;

    -- Kiểm tra logic và random % giảm giá
    IF @Diem = 5
    BEGIN
        -- Random từ 20 đến 40
        SET @PhanTramGiamGia = ABS(CHECKSUM(NEWID())) % 21 + 20; 
    END
    ELSE IF @Diem = 4
    BEGIN
        -- Random từ 5 đến 15
        SET @PhanTramGiamGia = ABS(CHECKSUM(NEWID())) % 11 + 5;
    END
    ELSE
    BEGIN
        -- Dưới 4 sao không được giảm
        SET @PhanTramGiamGia = 0;
    END
END;
GO
USE [master]
GO
